* {
    border: 1px solid black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider-photo {
    /* position: inherit; */
    height: 25rem;
    width: 25rem;
    /* position: absolute; */
    transition: .2s ease-in-out;
    /* object-fit: contain; */
}

.frame {
    width: 25rem;
    height: 25rem;
    overflow: hidden;
}

.img-wrapper {
    width: 125rem;
    height: 125rem;
    /* position: relative; */
    display: flex;
    /* overflow: hidden; */
    margin-bottom: 2rem;
    margin-left: 0;
    transition: .2s ease-in-out;
}

.arrow {
    height: 3rem;
    z-index: 15;

}

.main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}

.play-pause {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playpause {
    height: 4rem;
}

.indicator-buttons {
    display: flex;
    padding: 1rem 0rem;
    justify-content: center;
}
