* {
    border: 1px solid black
}

.slider-photo {
    position: inherit;
    height: 12rem;
    width: 12rem;
    position: absolute;
    /* object-fit: contain; */
}

#one {
    left: 0rem;
    z-index: 5;
}

#two {
    left: 12rem;
}

#three {
    left: 24rem;
}

#four {
    left: 36rem;
}

#five {
    left: 48rem;
}

.img-wrapper {
    width: 12rem;
    height: 12rem;
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
}

.arrow {
    height: 3rem;

}

.main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}

.play-pause {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playpause {
    height: 4rem;
}

.indicator-buttons {
    display: flex;
    padding: 1rem 0rem;
    justify-content: center;
}
