* {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider-photo {
    /* position: inherit; */
    height: 40rem;
    width: 70rem;
    /* position: absolute; */
    transition: .2s ease-in-out;
    /* object-fit: contain; */
}

.frame {
    width: 70rem;
    height: 40rem;
    overflow: hidden;
    border-radius: 36px;
}

.img-wrapper {
    width: 350rem;
    height: 200rem;
    /* position: relative; */
    display: flex;
    /* overflow: hidden; */
    margin-bottom: 2rem;
    margin-left: 0;
    transition: .2s ease-in-out;
}

.arrow {
    height: 5rem;
    z-index: 15;

}

body {
    background-color: rgb(208, 244, 244);
}

.main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;

}

.play-pause {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playpause {
    height: 4rem;
}

.indicator-buttons {
    display: flex;
    padding: 1rem 0rem;
    justify-content: center;
    justify-content: center;
    align-items: center;
    /* position: fixed;
    top: 50%;
    position: absolute;
    left: 50%; */
    margin-top: -3.5rem;
    gap: 1rem;
    transform: scale(1.5);
    z-index: 20;
}

.arrows {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 70rem;
    padding: 1rem;
    filter: invert(1);
}